
  @import url('https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro&display=swap');
  
body {
  
  margin: 0;
  font-family: 'Tai Heritage Pro', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282D35;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav
{
         background-color: #21222A;
        display: block;
        text-align: center;
        
  
}
.nav-items
{   
  /* background-color: #808080; */
  list-style:none;
  display:flex;
  justify-content:space-evenly;
  font-weight: 500;
  color:#DEEBF8;
}
.nav-color{
  /* background-color: #808080; */
}
.content
{
  color:white;
}
.list
{  display: block;
  
  margin-left: 350px;
 line-height: 3em; 
}
.main-title
{
  text-align: center;
  padding-top: 10px;
  color:beige;
}
.footer
{
  color:darkgrey;
  display:block;
  text-align: center;
padding-top: 50px;
}
.list>li::marker
{
  color: aqua;
  font-size: 10px;
}